[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alpaca-trade-api = ">=2.1.0"
ccxt = ">=1.66.32"
elegantrl = "*"
exchange-calendars = "==3.6.3"
gputil = "*"
gymnasium = "*"
importlib-metadata = "==4.13.0"
jqdatasdk = "*"
lz4 = "*"
matplotlib = "*"
numpy = ">=1.17.3"
pandas = ">=1.1.5"
pre-commit = "*"
pyfolio = "*"
pytest = "*"
ray = {extras = ["tune"], version = "*"}
recommonmark = "*"
scikit-learn = ">=0.21.0"
sphinx = "*"
sphinx-rtd-theme = "*"
sqlalchemy = "*"
stable-baselines3 = {extras = ["extra"], version = "*"}
stockstats = ">=0.4.0"
swig = "*"
tensorboardx = "*"
wrds = "*"
yfinance = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.10"
