[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alpaca-trade-api = "*"
ccxt = "*"
elegantrl = "*"
exchange-calendars = "*"
gputil = "*"
gymnasium = "*"
importlib-metadata = "*"
jqdatasdk = "*"
lz4 = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pre-commit = "*"
pyfolio = "*"
pytest = "*"
ray = {extras = ["tune"] }
recommonmark = "*"
scikit-learn = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sqlalchemy = "*"
stable-baselines3 = {extras = ["extra"] }
stockstats = "*"
swig = "*"
tensorboardx = "*"
wrds = "*"
finrl = {file = "."}
yfinance = {ref = "dev", git = "git+ssh://git@github.com/power-edge/yfinance.git"}

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.9"
